---
- name: Create the minikube group
  ansible.builtin.group:
    name: "{{ _minikube_system_group }}"
    state: present
    system: true
  when: _minikube_system_group != "root"

- name: Create the minikube user
  ansible.builtin.user:
    name: "{{ _minikube_system_user }}"
    groups: "{{ _minikube_system_group }}"
    append: true
    shell: /usr/sbin/nologin
    system: true
    create_home: false
    home: /
  when: _minikube_system_user != "root"

- name: Add minikube user to docker user group
  ansible.builtin.user:
    name: "{{ _minikube_system_user }}"
    groups: "docker"
    append: yes
  when: minikube_driver == "docker"

- block:
    - name: Download minikube sha256
      become: false
      ansible.builtin.get_url:
        url: "https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64.sha256"
        dest: "/tmp/minikube.sha256"
        force: true
        validate_certs: true
        mode: '0664'

    - name: Read the contents of the hash file
      ansible.builtin.file:
        path: /tmp/minikube.sha256
        state: present
      register: content_sha256

    - name: Download minikube binary to local folder
      become: false
      ansible.builtin.get_url:
        url: "https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64"
        dest: "/tmp/minikube"
        mode: '0644'
      register: _download_binary
      until: _download_binary is succeeded
      retries: 5
      delay: 2
      delegate_to: localhost
      check_mode: false

    - name: Propagate minikube binaries
      ansible.builtin.copy:
        src: "/tmp/minikube"
        dest: "{{ _minikube_install_dir }}/minikube"
        mode: 0755
        owner: root
        group: root
      when: not ansible_check_mode

- block:
    - name: Download kubectl latest binary to local folder
      become: false
      ansible.builtin.get_url:
        url: "https://storage.googleapis.com/kubernetes-release/release/{{_latest}}/bin/linux/amd64/kubectl"
        dest: "/tmp/kubectl"
        mode: '0644'
      register: _download_binary
      until: _download_binary is succeeded
      retries: 5
      delay: 2
      delegate_to: localhost
      check_mode: false
      when: kubectl_install and kubectl_version == "latest"

    - name: Download kubectl specified version binary to local folder
      become: false
      ansible.builtin.get_url:
        url: "https://storage.googleapis.com/kubernetes-release/release/v{{kubectl_version}}/bin/linux/amd64/kubectl"
        dest: "/tmp/kubectl"
        mode: '0644'
      register: _download_binary
      until: _download_binary is succeeded
      retries: 5
      delay: 2
      delegate_to: localhost
      check_mode: false
      when: kubectl_install and kubectl_version != "latest"

    - name: Propagate kubectl binary
      ansible.builtin.copy:
        src: "/tmp/kubectl"
        dest: "{{ _kubectl_install_dir }}/kubectl"
        mode: 0755
        owner: root
        group: root
      when: kubectl_install

    - name: Start minikube cluster
      ansible.builtin.command: "{{ _minikube_install_dir }}/minikube start --driver={{minikube_driver}}"
      become: false
